[Desktop Entry]
Version=1.0
Type=Application
Name=Install Me
Comment=Install the Demon
Exec=demon-installer.sh
Icon=/usr/share/demon/images/icons/demon-install-icon.png
Path=
Terminal=true
StartupNotify=false
